logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
activator-*.sbt
                    