@()(implicit messages: Messages)


<!DOCTYPE html>


<!-- 
# Author Evgeny Igumnov igumnov@gmail.com Under GPL v2 http://www.gnu.org/licenses/
-->

<div style="display: none;" ng-style="{'display':friendShow}">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h3 class="panel-title">@Messages("members.title")</h3>
        </div>
        <div class="panel-body">

            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="f in friends">
                        <td>{{f.id}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>